@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-3xl font-bold my-6;
    }
    h2 {
      @apply text-2xl font-bold my-4 mt-8;
    }
    h3 {
      @apply text-lg font-medium my-4 mt-6;
    }
    h4 {
      @apply text-base font-medium my-4 mt-6;
    }
    h5 {
      @apply text-sm font-medium my-4 mt-6;
    }
    p {
      @apply text-base leading-7 my-4;
    }
    /* ... */
  }
